.no-login {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.no-login + .footer {
    display: none;
}

.no-login img {
    margin: auto;
    width: 8%;
}
.no-login h2 {
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.no-login p {
    margin: auto;
    font-size: 16px;
}
.btn-no-login {
    margin: auto;
    width: 34%;
    height: 40px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    background-color: #2474e5;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
    margin-top: 12px;
}

.btn-no-login:hover {
    border-color: #40a9ff;
    box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
}

@media(max-width: 480px) {
    .no-login h2 {
        font-size: 18px;
    }

    .no-login p {
        font-size: 14px;
    }
    
    .btn-no-login {
        font-size: 16px;
    }
}
