.no-quyentruy-cap{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-quyentruy-cap img{
    width: 40%;
}

.no-quyentruy-cap + .footer {
    display: none;
}

@media (max-width: 480px) {
    .no-quyentruy-cap {
        font-size: 14px;
        text-align: center;
    }
}


