:root {
    --color-primary: rgb(36, 116, 229);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

/* side bar */
.sidebar {
    background-color: #fff;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


.sidebar a {
    margin: 4px 0;
    font-size: 18px;
    color: gray;
    text-align: center;
    display: block;
}

.sidebar a i {
    padding: 12px;
}

.sidebar a.active {
    color: #1e88e5;
    border-radius: 10px;
    background-color: #e3f2fd;
}

.sidebar a:hover {
    color: #1e88e5;
    border-radius: 10px;
    background-color: #e3f2fd;
}

.dashboard {
    width: 100%;
    /* height: 44px; */
}

.dashboard-body {
    padding: 0 16px;
}

.wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 4px 18px;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 80px 0px;
}

.search-container {
    background-color: #e9eef3;
    border-radius: 25px;
    padding: 4px 16px;
    width: 320px;
    display: flex;
    align-items: center;
}

.search-container input {
    border: none;
    /* background-color: transparent; */
    outline: none;
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.search-container i {
    color: #888;
    margin-right: 10px;
    font-size: 18px;
}

.search-container input::placeholder {
    color: #888;
}

.info-list {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.info-item {
    display: flex;
    align-items: center;
}

.border-item {
    border: 1px solid var(--color-primary);
    border-radius: 999px;
    padding: 4px 6px;
}

.border-right {
    content: '';
    width: 1px;
    height: 28px;
    /* top: 12px; */
    /* right: 178px; */
    background-color: rgb(17, 17, 17);
}

.info-list > .info-item > p {
    margin: 0;
}

.heading-title {
    font-size: 16px;
    color: var(--color-primary);
    padding: 2px 4px;
}

.info-item__background {
    background-color: rgb(237 237 237);
    border-radius: 999px;
    padding: 8px;
}

.body-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.content-top-heading {
    color: var(--color-primary);
}

.content-top-btn {
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: var(--color-primary);
    cursor: pointer;
}

.content-handle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qlcd-search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 4px 0 4px 12px;
    border-radius: 6px;
}

.qlcd-search input {
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
}

.qlcd-search input::placeholder {
    font-size: 14px;
    color: #767676;
}

.handle-btn {
    display: flex;
}

.handle-btn > p {
    margin: 0;
}

.handle-btn__text {
    font-size: 14px;
    border: 1px solid #dadada;
    padding: 6px 20px;
    cursor: pointer;
}

.handle-btn__text:hover {
    border: 1px solid var(--color-primary);
}

.handle-btn-borr1 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.handle-btn-borr2 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.handle-btn__active {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;

}

thead th {
    font-weight: 500;
}
th, td {
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #007bff;
    color: #ffffff;
}
/* td {
    background-color: #ffffff;
} */

tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}


.status-active {
    padding: 6px 12px;
    border-radius: 999px;
    color: #007bff;
    background-color: #e3f2fd;
    display: inline-block;
    width: 88px;
    text-align: center;
}
.status-inactive {
    padding: 6px 12px;
    border-radius: 999px;
    color: #8d8d8d;
    background-color: #f0f0f0;
    display: inline-block;
    width: 88px;
    text-align: center;
}

.action-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.action-icons svg {
    color: #007bff;
    font-size: 25px;
    margin: 4px;
    cursor: pointer;
}

/* .page-button {
    margin: 200px 16px;
} */

.page-list {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.page-list__item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #b4b4b4;
    cursor: pointer;
    transition: all ease-in-out 0.15s; 
}

.page-list__item:hover {
    color: var(--color-primary);
    background-color: #e3f2fd;
    border: 1px solid #e3f2fd;
}

.btn-input-manage {
    margin-right: 24px;
}