:root {
    --color-primary: rgb(36, 116, 229);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

/* side bar */
.sidebar {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.sidebar a {
    /* margin: 4px 0; */
    font-size: 18px;
    color: gray;
    cursor: pointer;
    padding: 7px 10px;
    transition: all 0.3s ease;
}

.sidebar a.active {
    color: #1e88e5;
}

.sidebar a:hover {
    color: #1e88e5;
}

.dashboard {
    width: 100%;
    /* height: 44px; */
}

.wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 4px 18px;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
    background-color: #e9eef3;
    border-radius: 25px;
    padding: 6px 16px;
    width: 320px;
    display: flex;
    align-items: center;
}

.search-container > input {
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    font-size: 14px;
    color: #333;
    height: auto;
}

.search-container i {
    color: #888;
    margin-right: 10px;
    font-size: 18px;
}

.search-container input::placeholder {
    color: #888;
}

.info-list > .info-item > p {
    margin: 0;
}

.heading-title {
    font-size: 16px;
    color: var(--color-primary);
    padding: 2px 4px;
}

.info-item__background {
    background-color: rgb(237 237 237);
    border-radius: 999px;
    padding: 8px;
}

/* dashboard */
.dashboard-center {
    width: 100%;
    height: 100%;
    background-color: #e9eef3;
}

/* Phần đầu  */
/* qlnx */
.qlnx, .time-group { 
    padding: 0 16px;
}

.qlnx-group__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.qlnx-group__item {
    width: calc(100% / 4);
}

.qlnx-item__heading {
    font-size: 15px;
    padding: 10px 0;
    margin: 0;
    color: #525252;
}

.qlnx-box__title {
    font-size: 15px;
    font-weight: 600;
}

.qlnx-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    padding: 0 12px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
}

.qlnx-box__route {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.qlnx-box__route-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #dedede;
    border-radius: 999px;
}

.qlnx-padding {
    padding: 5px 8px;
}

.qlnx-box__icon {
    display: flex;
    justify-content: center;
    color: #929292;
}

.qlnx-box__icon-small svg {
    font-size: 16px;
    color: #929292;
}

.time-group {
    margin-top: 16px;
}

.time-group__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-group__item {
    width: calc(100% / 12);
    padding: 6px;
    border-radius: 4px;
    background-color: #fff;
}

.time-group__item-select {
    position: relative;
    border: 2px solid var(--color-primary);
}

.time-group__item-select::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid var(--color-primary);
}

.time-group__heading {
    color: var(--color-primary);
    font-size: 18px;
}

.time-group__title {
    font-size: 14px;
    margin: 4px 0 3px;
}

.time-group__progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6px;
    border-radius: 999px;
    background-color: #c9c9c9;
}

.time-group__progress {
    width: 50%;
    height: 100%;
    border-radius: 999px;
    background-color: var(--color-primary);
}

/* --End phần đầu-- */

/* Phần giữa  */
.trip-info {
    padding: 15px;
    margin: auto;
}

.trip-header {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
    padding-left: 2px;
}

.trip-content {
    display: flex;
    gap: 16px;
}

.trip-details {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.update-info-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.trip-info__row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.trip-info__item {
    display: flex;
}

.trip-info__item a {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
}

.trip-info__item span {
    font-size: 14px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    flex: 1;
}

.info-value span {
    display: block;
    font-size: 14px;
}

.trip-stats {
    width: 30%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stats-progress {
    text-align: center;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    width: 100%;
    display: flex;
}

.paid {
    background-color: #ffc107;
    height: 100%;
}

.reserved {
    background-color: #f66;
    height: 100%;
}

.stats-info {
    margin-top: 5px;
    font-size: 14px;
}

.stats-details {
    font-size: 14px;
    color: #666;
}

.stats-details div {
    margin: 14px 0;
}

.stats-details div strong {
    color: #000;
}

.label {
    font-weight: bold;
}

.stats-details__pay {
    color: #ffc107;
}

.stats-details__datcho {
    color: #f66;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 0 2px;
    margin-top: 12px;
}

.group-left-list {
    display: flex;
    gap: 12px;
}

.group-item__btn {
    border: none;
    font-size: 14px;
    /* padding: 8px 24px; */
    width: 110px;
    height: 32px;
    border-radius: 6px;
    background-color: #fff;
}

.group-left-item__btn {
    color: var(--color-primary);
}

.group-right-item__btn {
    color: #666;
}

/* --End phần giữa-- */

/* Phần cuối  */
/* group */
.group-center {
    width: 100%;
    height: 100%;
    margin-top: -30px;
    background-color: #e9eef3;
    margin-bottom: 48px;
}

.group-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

.group-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group-group {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    background-color: #fff;
}

.background-primary {
    color: #fff;
    border-radius: 6px;
    background-color: var(--color-primary);
}

.group-item {
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.group-title {
    font-size: 14px;
    margin-left: 6px;
}

.icon-color-blue {
    color: var(--color-primary);
}

.admin {
    padding: 0 16px;
}

.admin-list {
    width: 100%;
    display: flex;
    gap: 16px;
    /* margin: 16px 0; */
}

.admin-item {
    width: calc(100% / 4);
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    margin-top: 30px;
}

.admin-item > p {
    margin: 0;
}

.admin-item-bg1 {
    background-color: #f6c1b9;
}

.admin-item-bg2 {
    background-color: #fdee9a;
}

.admin-item-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
}

.admin-item__right {
    display: flex;
    align-items: center;
}

.admin-item__right-icon svg {
    font-size: 12px;
    color: #fff;
}

.admin-item__icon {
    display: flex;
    justify-content: center;
    padding: 4px;
    background-color: rgb(9, 115, 255);
    border-radius: 999px;
    margin-right: 2px;
}

.group-item__top {
    gap: 6px;
    display: flex;
    align-items: center;
}

.admin-item__left {
    display: flex;
    align-items: center;
}

.admin-item__box {
    padding: 6px 10px;
    border-radius: 4px;
}

.admin-item__color {
    color: #fff;
}

.admin-item__box-bg-1 {
    background-color: green;
}

.admin-item__box-bg-2 {
    background-color: blue;
}

.admin-text__num {
    font-weight: 700;
    font-size: 15px;
    padding: 6px 4px;
}

.admin-title {
    font-size: 16px;
}

.admin-title {
    font-size: 16px;
    font-weight: 700;
}

.admin-item-title {
    font-size: 14px;
    font-weight: 600;
}

.admin-text {
    font-size: 14px;
}

.admin-price {
    font-weight: 700;
}

.admin-heading-test {
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0;
    color: #303030;
}

.admin-item-icon__bottom {
    display: flex;
    gap: 8px;
}

.admin-item__border {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 999px;
}

.admin-item__border svg {
    font-size: 18px;
}

/* .admin-text__percent {
    color: #333;
    font-size: 14px;
    font-weight: 600;
} */

.ml-icon {
    margin-left: 4px;
}

.admin-heading {
    font-size: 18px;
    font-weight: 600;
}

.card-left,
.card-right {
    width: 50%;
    display: grid;
    row-gap: 16px;
}

.more-btt > p {
    margin: 4px 0;
}

/* --End phần cuối-- */
