/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

:root {
    --white-color: #fff;
    --black-color: rgb(20, 20, 20);
    --color-primary: rgb(36, 116, 229);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap-top {
    display: none;
}

.body-container {
    width: 100%;
    flex: 1 1 0%;
    overflow: auto;
    padding: 20px 0px 0px;
    background: rgb(242, 242, 242);
}

.payment {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 20px;
}

.payment-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.wrap-left {
    width: 621px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.payment-method {
    padding: 20px 20px 0px;
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224) !important;
}

.method-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    color: rgb(20, 20, 20);
}

.list-qr {
    display: flex;
    align-items: center;
}

.ant-radio input {
    width: 20px;
    height: 20px;
}

.radio-input {
    /* appearance: none; */
    border: 2px solid #333;
    border-radius: 999px;
}

.list-pttt {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.img-icon {
    margin: 0 8px;
}

.title-base {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
    margin: 0;
}

.an-toan {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 4px;
    height: 22px;
    margin-left: 6px;
    border-radius: 4px;
    color: var(--white-color);
    background-color: rgb(39, 174, 96);
}

.text-base {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.text-link {
    color: #2474e5;
}

.border-bottom {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.mt-20 {
    padding: 20px 0;
}

.detail-content {
    margin-left: 25px;
}

.thanhtoan-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 14px;
}

.content-support {
    background-color: rgb(227 237 252);
    border-radius: 8px;
    padding: 0 16px;
}

.ho-tro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-sp {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black-color);
}

.img__app-icon {
    margin: 0 3px;
}

/* wrap-right */
.wrap-right {
    width: 375px;
}

.cart-summary {
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-heading {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.cart-box {
    display: flex;
    align-items: center;
}

.cart-box-link {
    color: #2474e5;
    font-weight: 600;
    font-size: 14px;
}

.cart-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
}

.cart-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
}

.cart-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.text-price {
    font-weight: 500;
    padding-left: 36px;
}

.cart-info {
    display: inline;
    justify-content: flex-end;
}

.payment-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 12px;
    background-color: rgb(255, 240, 214);
    border: 1px solid rgb(255, 175, 31);
    margin-bottom: 14px;
}

.left-content {
    display: flex;
    align-items: center;
}

.thanhtoan-heading {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.icon-img {
    margin-right: 8px;
}

.content-p {
    font-size: 12px;
    font-weight: 500;
}

.text-content {
    padding: 4px 30px;
}

.nhapma {
    color: rgb(20, 138, 27);
}

a.text-link,
a.text-link1 {
    display: inline-block;
    margin-top: 6px;
}

/*code phần hiển thị thêm của radio*/
.ant-collapse-content-box {
    margin-top: 20px;
}
.iIqzBs {
    font-weight: bold;
}
.PaymentMethods__LabelStyle-sc-6pvdqp-2 {
    padding-left: 25px;
}
.PaymentMethods__GuildContainer-sc-6pvdqp-5 {
    padding-left: 25px;
}
.ant-collapse-content-box {
    padding-left: 25px;
}
.jCaFku {
    font-size: 14px;
    color: #000000a6;
}
.cop-text p {
    font-size: 14px;
    color: #141414;
}
.TrustMessage__Container-sc-8xur6b-0 {
    margin-top: 10px;
    background-color: #fff0d6;
    padding: 10px 12px;
    border: 1px solid rgb(255, 175, 31);
    font-size: 14px;
    color: #141414;
    display: flex;
    border-radius: 5px;
    word-break: break-word;
    align-items: center;
    gap: 10px;
}
.dwyAVK {
    font-size: 16px;
    font-weight: bold;
}

/*card khuyến mãi */
.cart-khuyen-mai {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.cart-kk-detail {
    display: flex;
    gap: 10px;
    overflow: auto;
}

.cart-khuyen-mai .coupon-info-route-page-container {
    margin-top: 10px;
    min-width: auto;
}

/*card thông tin chuyến đi */
.cart-thong-tin-chuyen-di {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.section-ticket-header {
    margin-top: 20px;
    padding: 10px 10px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(160, 157, 157);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-ticket-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 35px;
}

.total-ticket__text {
    margin-left: 4px !important;
}

.section-ticket-company-info {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
}

.section-ticket-header-left__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.beAglg {
    width: 58px;
    height: 36px;
    border-radius: 4px;
}

.section-ticket-company-info-name {
    align-items: center;
    flex: 0 0 70%;
    width: 100%;
}
.eSKsXb {
    text-overflow: ellipsis;
    font-size: 10px;
}
.boemqK {
    margin-top: 5px;
    font-size: 14px;
    line-height: 10px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 0px;
}

.section-ticket-company-info div {
    width: 30%;
}

.section-ticket-content {
    border-left: 1px solid rgb(160, 157, 157);
    border-right: 1px solid rgb(160, 157, 157);
    border-bottom: 1px solid rgb(160, 157, 157);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*******/
.area-point-container {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.kxACTE {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
}
.jCbuWT {
    font-size: 12px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 0px;
}
.eSKsXb {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0px;
}
.dlwjtp {
    display: flex;
}
.section-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.gzSlSc {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
}
.bVQrWf {
    color: rgb(36, 116, 229);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    text-decoration: underline;
    text-underline-offset: 1px;
    word-break: normal;
}

/*card thông tin khách hàng */
.cart-thong-tin-kh {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.hsd {
    margin-top: 4px;
}

.payments-security {
    display: none;
}

.plus-img {
    display: none;
}

.method-heading2 {
    display: none;
}

.giamgia-thanhtoan {
    display: flex;
    align-items: center;
    gap: 12px;
}

.body-container + .footer {
    display: none;
}

.payment-footer {
    /* position: fixed;       Cố định vị trí */
    bottom: 0;             /* Căn sát đáy */
    left: 0;               /* Căn lề trái */
    width: 100%;    
    z-index: 1;
    padding: 24px 16px;
    background-color: #fff;
}

.payment-ft__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.payment-footer__left {
    width: 620px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 211, 51);
    height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.payment-footer__left:hover  {
    background-color: rgb(255, 228, 133);
}

.payment-ft-content__title {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.payment-footer__right {
    width: 375px;
}

.payment-ft-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-ft-content__title {
    font-weight: 700;
    margin-left: 8px;
}

.payment-ft__right-title {
    font-size: 14px;
}

.hmm {
    margin-top: 16px;
    text-align: center;
}

.chinhsach-baomat {
    font-size: 14px;
}

.chinhsach-baomat__link {
    font-weight: 700;
    color: var(--color-primary);
}

.payment-total {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        display: none;
    }

    .wrap-left,
    .wrap-right {
        min-width: 100% !important;
    }

    .cart-khuyen-mai .coupon-info-route-page-container {
        /* min-width: 38% !important; */
    }

    .footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrap-right {
        width: 621px !important;
    }

    .cart-khuyen-mai .coupon-info-route-page-container {
        width: 46% !important;
    }

    .footer {
        display: none;
    }
}

@media (max-width: 650px) {
    .body-container {
        padding: 0 0 !important;
        background-color: transparent !important;
    }

    .payment-page {
        gap: 0;
    }

    .cart-khuyen-mai .coupon-info-route-page-container {
        min-width: 70%;
    }

    .payment-method {
        padding: 0 !important;
        border: none !important;
    }

    .wrap-left,
    .wrap-right {
        width: 375px !important;
        padding: 0 16px;
    }

    .wrap-top {
        width: 100%;
        height: 3.5%;
        display: block;
        color: var(--white-color);
        background-color: rgb(36, 116, 229);
    }

    .wrap-top1 {
        /* margin-left: 30px;
            margin-right: 30px; */
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .left-box__title {
        font-weight: 700;
        font-size: 16px;
    }

    .left-box__text {
        font-size: 14px;
    }

    .wrap-top__left-icon svg {
        width: 5px;
        height: 5px;
        margin: 2px 3px;
    }

    .wrap-top__right a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }

    .wrap-top2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
    }

    .wrap-top2__span svg {
        width: 20px;
        height: 20px;
    }

    .wrap-top2__text {
        font-size: 12px;
    }

    .wrap-top2__border {
        width: 22px;
        height: 0.5px;
        background-color: #fff;
        margin: 0 12px;
    }

    .wrap-top2__right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        border-radius: 999px;
        width: 16px;
        height: 16px;
        font-weight: 600;
        color: var(--color-primary);
        background-color: #fff;
        margin-right: 8px;
    }

    .payments-security {
        display: flex;
        align-items: center;
        margin: 16px 0;
        border-radius: 6px;
        padding: 8px 40px;
        border: 1px solid rgb(39, 174, 96);
        background-color: rgb(238, 251, 244) !important;
    }

    .payments-security__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(15, 170, 79);
        margin-right: 4px;
    }

    .payments-security__title {
        font-size: 14px;
    }

    .method-heading2 {
        display: block;
        margin-top: 12px;
        font-weight: 600;
        color: rgb(133, 133, 133);
    }

    .ant-radio {
        display: none;
    }

    .hehehe,
    .title-base {
        width: 100%;
        color: var(--black-color);
        font-weight: 700;
    }

    .title-base {
        font-size: 14px;
        flex-wrap: wrap;
    }

    .text-base {
        font-size: 10px;
    }

    .thanhtoan-title {
        margin-left: 16px;
        font-size: 12px !important;
    }

    .an-toan {
        margin-left: 0 !important;
        margin-top: 6px;
    }

    .text-sp {
        display: none;
    }

    .content-support {
        margin-left: 13px;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .content-img__app {
        display: flex;
        align-items: center;
    }

    .content-img__app img {
        border: 1px solid #dddddd;
        border-radius: 2px;
    }

    .plus-img {
        display: block;
        background-color: var(--color-primary);
        color: var(--white-color);
        border-radius: 12px;
        font-size: 12px;
        padding: 4px 6px;
        font-weight: 700;
    }

    a.text-link1 {
        display: none !important;
    }

    .content-p {
        margin: 0;
        padding: 8px;
    }

    .text-content {
        font-size: 12px !important;
        margin-left: 10px !important;
    }

    .payment-item {
        padding: 12px 0 !important;
    }

    .PaymentMethods__LabelStyle-sc-6pvdqp-2 {
        padding-left: 16px !important;
        font-size: 14px !important;
    }

    .PaymentMethods__GuildContainer-sc-6pvdqp-5 {
        padding-left: 16px !important;
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .cart-summary {
        padding: 0 !important;
    }

    .cart-khuyen-mai {
        padding: 0 !important;
    }

    .cart-thong-tin-chuyen-di {
        padding: 0 !important;
    }

    .cart-thong-tin-kh {
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    .body-container {
        padding: 0 0 !important;
        background-color: transparent !important;
    }

    .payment-page {
        gap: 0;
    }

    .cart-khuyen-mai .coupon-info-route-page-container {
        min-width: 80% !important;
    }

    .payment-method {
        padding: 0 !important;
        border: none !important;
    }

    /* .wrap-left,
    .wrap-right {
        min-width: 375px !important;
    } */

    .wrap-top {
        width: 100%;
        height: 3.5%;
        display: block;
        color: var(--white-color);
        background-color: rgb(36, 116, 229);
    }

    .wrap-top1 {
        /* margin-left: 30px;
        margin-right: 30px; */
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .left-box__title {
        font-weight: 700;
        font-size: 16px;
    }

    .left-box__text {
        font-size: 14px;
    }

    .wrap-top__left-icon svg {
        width: 5px;
        height: 5px;
        margin: 2px 3px;
    }

    .wrap-top__right a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }

    .wrap-top2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
    }

    .wrap-top2__span svg {
        width: 20px;
        height: 20px;
    }

    .wrap-top2__text {
        font-size: 12px;
    }

    .wrap-top2__border {
        width: 22px;
        height: 0.5px;
        background-color: #fff;
        margin: 0 12px;
    }

    .wrap-top2__right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap-top2__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        border-radius: 999px;
        width: 16px;
        height: 16px;
        font-weight: 600;
        color: var(--color-primary);
        background-color: #fff;
        margin-right: 8px;
    }

    .payments-security {
        display: flex;
        align-items: center;
        margin: 16px 0;
        border-radius: 6px;
        padding: 8px 40px;
        border: 1px solid rgb(39, 174, 96);
        background-color: rgb(238, 251, 244) !important;
    }

    .payments-security__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(15, 170, 79);
        margin-right: 4px;
    }

    .payments-security__title {
        font-size: 14px;
    }

    .method-heading2 {
        display: block;
        margin-top: 12px;
        font-weight: 600;
        color: rgb(133, 133, 133);
    }

    .ant-radio {
        display: none;
    }

    .hehehe,
    .title-base {
        width: 100%;
        color: var(--black-color);
        font-weight: 700;
    }

    .title-base {
        font-size: 14px;
        flex-wrap: wrap;
    }

    .text-base {
        font-size: 10px;
    }

    .thanhtoan-title {
        margin-left: 16px;
        font-size: 12px !important;
    }

    .an-toan {
        margin-left: 0 !important;
        margin-top: 6px;
    }

    .text-sp {
        display: none;
    }

    .content-support {
        margin-left: 13px;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .content-img__app {
        display: flex;
        align-items: center;
    }

    .content-img__app img {
        border: 1px solid #dddddd;
        border-radius: 2px;
    }

    .plus-img {
        display: block;
        background-color: var(--color-primary);
        color: var(--white-color);
        border-radius: 12px;
        font-size: 12px;
        padding: 4px 6px;
        font-weight: 700;
    }

    a.text-link1 {
        display: none !important;
    }

    .content-p {
        margin: 0;
        padding: 8px;
    }

    .text-content {
        font-size: 12px !important;
        margin-left: 10px !important;
    }

    .payment-item {
        padding: 12px 0 !important;
    }

    .PaymentMethods__LabelStyle-sc-6pvdqp-2 {
        padding-left: 16px !important;
        font-size: 14px !important;
    }

    .PaymentMethods__GuildContainer-sc-6pvdqp-5 {
        padding-left: 16px !important;
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .cart-summary {
        padding: 0 !important;
    }

    .cart-khuyen-mai {
        padding: 0 !important;
    }

    .cart-thong-tin-chuyen-di {
        padding: 0 !important;
    }

    .cart-thong-tin-kh {
        padding: 0 !important;
    }

    .hmm {
        display: none;
    }

    .payment-footer__right {
        display: none;
    }

    .payment-footer__left {
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 8px;
        width: 80%;
    }

    
}
