form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

.addcar-input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: 'Mulish', sans-serif;
    outline: none;
    transition: all 0.3s ease;
}

.addcar-input:focus, .addcar-input:hover {
    border-color: #40a9ff;
    box-shadow: 0 0 0 3px rgba(24, 144, 255, 0.2);
}

select:hover, select:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 3px rgba(24, 144, 255, 0.2);
}

#model {
    margin-bottom: 20px;
}

.btnsb {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 12px;
    margin-top: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnsb:hover {
    background-color: #0056b3;
}
.page-add-carhouse {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 60%;
    margin: auto;
    padding: 30px;
}

::placeholder, option, input {
    font-family: 'Mulish', sans-serif;
}

/* option {
    height: 400px;
} */

/* select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease-in-out;
} */


.add-error {
    text-align: left !important;
    color: red;
    font-size: 14px;
    margin: 0;
    margin-top: -15px;
    padding: 0 0 12px;
}

.group-link-active {
    display: flex;
    justify-content: start;
    gap: 16px;
}
