.layout-page-tk{
    padding: 20px 160px;
}
.slider-bar{
    margin-top: 20px;
    padding-left: 10px;
    width: 25%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}
.slider-bar ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:10px;
}
.slider-bar ul li p{
    font-size: 14px;
    color:#141414;
}